# Python Workshop for cand.merc*

Introduktion til brug af notebooks og python. Pandas dokumentationen kan findes her: https://pandas.pydata.org/pandas-docs/stable/reference/
Liste over regneoperatorer i python kan ses [her](https://www.w3schools.com/python/python_operators.asp)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd

# Del 1

## Filnavne for datasættene

In [ ]:
data1 = 'fake_da_regnskab.csv'
data2 = 'fake_us_da_regnskab.csv' 
data3 = 'fake_us_regnskab.csv'

### Indlæs i pandas

In [ ]:
df1 = pd.read_csv(data1, index_col='id')
df1.head()

Optælling af rækker:

In [ ]:
df1.count()

#### Hvordan er datatyperne?

In [ ]:
df1.dtypes

Objects er "alt", så kan udmiddelbart fint holde text, men problematisk for tid. Derfor konverteres de:

In [ ]:
df1['dato'] = pd.to_datetime(df1['dato'])

In [ ]:
df1.dtypes

### Indlæs data2

In [ ]:
df2 = pd.read_csv(data2, index_col='id')
df2['dato'] = pd.to_datetime(df2['dato'])

In [ ]:
df2.head()

In [ ]:
df2.dtypes

## To datasæt skal smeltes sammen til eet.

df1 og df2 skal ensrettes, men hvordan?

### Samling af 2 dataframes

Dagens valutakurs:

In [ ]:
dagens_kurs_dk_us = 6.5

In [ ]:
df2['omkostning ($)'] * dagens_kurs_dk_us

**Huske at gemme beregningen i Dataframen:**

In [ ]:
df2.head()

In [ ]:
df2['omkostning (kr)'] = df2['omkostning ($)'] * dagens_kurs_dk_us

In [ ]:
df2.head()

In [ ]:
df2 = df2.drop('omkostning ($)', axis=1)

In [ ]:
df2.head()

### Samling af dataframes

Merging (Samling) af dataframes, sker ved at oprette en ny ved hjælp af metoden pd.concat()

In [ ]:
df = pd.concat([df1,df2])

In [ ]:
df.info()

### Udvælge enkelte kolloner

Hvordan kan jeg nøjes med at få enkelte kolloner ud, f.eks. kun Navn og Omkostning (kr)

In [ ]:
df[['medarbejder', 'omkostning (kr)']].head()

### Hvem har solgt for mest?

In [ ]:
df[['medarbejder', 'omkostning (kr)']].max()

Men er dette et korrekt svar? Vi laver en forespørgsel på

In [ ]:
df.loc[df['omkostning (kr)'] == 93152.93]

Det var jo ikke den korrekte medarbejder!

Vi sorterer vores dataframe og gemmer i variablen df

In [ ]:
df = df.sort_values(by='omkostning (kr)', ascending=True)

In [ ]:
df.head()

In [ ]:
df.tail()

Men vi kan også få resultatet direkte ved at spørge på den enkelte række og i python tæller vi fra 0 til -1 :-)

In [ ]:
df.iloc[-1]

# Del 2

Der er nu kommet endnu et datasæt. Nu skal der konverteres til $ i stedet for kr. og der skal findes medarbejderen med mindste salg.

In [ ]:
df3 = pd.read_csv(data3, index_col='id')
df3['dato'] = pd.to_datetime(df3['dato'])

In [ ]:
df3.head()

Opgave: Samle df3 med df1 og df2, hvor der arbejdes i USD istedet for kr.

# Del 3

## Visualisering af vores datasæt df

[DOCUMENTATION](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html) her et eksempel på et scatterplot på dato og omkostningen i (kr)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df.plot(x='dato', y='omkostning (kr)', kind='scatter')

## Virksomheden er opkøbt, vi skal have lavet en sundhedsprofil

Indlæs datasæt4

In [ ]:
data4 = 'fake_people.csv'

In [ ]:
df4 = pd.read_csv(data4, index_col='id')

In [ ]:
df4.plot(x='medarbejder', y='sko',  kind='bar')

**Bedre metode:** Find hvem og hvilken værdi der er forkert

In [ ]:
df4.describe()

In [ ]:
df4[df4['sko'] < 30 ]

In [ ]:
df4.loc[9, 'sko'] = 41.5

In [ ]:
df4.plot(x='medarbejder', y='sko')

In [ ]:
df4 = df4.dropna()

In [ ]:
df4.plot(x='medarbejder', y='sko')

In [ ]:
df4 = df4.dropna(subset=['sko'])

In [ ]:
df4.plot(x='medarbejder', y='sko', kind='bar')

In [ ]:
# DER SKAL SLETTES HERUNDER; DETTE ER MIN EGEN LØSNING!

### Undersøg datasættet, hvilke variable er der.

In [ ]:
df4.head()

Udregn bmi = vægt / højde^2, hvordan ser det ud?

# Xtra

Datatyper kan betyde meget, fx. når vi ønsker at bruge datoerne, som angivelse af tid og ikke bare en repræsentation.

In [ ]:
df.dtypes

Datatyperne er ikke i overensstemmelse med hvad vi kan se. "Object" er en type, der kan holde nærmest alt. 
Så vi ændrer dem til mere korrekte. Dette gør vi i en dictionary, som kaldes et key:value store. 
For at pandas kan finde ud af konvertere dato kollonen til et datoformat, skal den først laves til en string

In [ ]:
korrekte_data_typer = {'id': int, 'dato': pd.StringDtype(), 'beskrivelse': pd.StringDtype(), 'omkostning (kr)': float, 'medarbejder':
                       pd.StringDtype(), 'hoejde': int}
dato_felter = ['dato']

In [ ]:
df1 = pd.read_csv(data1, dtype=korrekte_data_typer, parse_dates=dato_felter)
df1.dtypes